.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
}
.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}

body {
    background-image: url("https://wallpapers.com/images/featured/computer-science-cmoeeb2alwqi3awp.jpg");
    

}

/*This section is for the navigation pane*/

.nav_bar {
    display: flex;
    flex-direction:row;
    color: white;
    background-color: black;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
.flex-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.flex-item a:hover {
    background-color: #0576c3;
}

/*======================================*/